<%= form_for(host) do |f| %>
  <%= f.label :first_name%>
  <%= f.text_field :first_name%> <br /><br />
  <%= f.label :last_name%>
  <%= f.text_field :last_name%> <br /><br /> 

  <%= f.label :email%>
  <%= f.text_field :email%> <br /><br />

  <label>Cell Phone</label>
  <input id="cell_phone" name="host[cell_phone]" type="text"/> <br /><br />
  
  <%= f.label :zip%>
  <%= f.text_field :zip%> <br /><br />  

  <%= f.label :password%>
  <%= f.password_field :password%> <br /><br />

  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation%> <br /><br />  
  <br>
  <br>
  <br>
  <%= f.submit %> <br \>
<% end %> 
