<div id="homepage-style">
    <span id="title">
        <h1 id="headline">JukeHacker</h1>
        <span id="top-container">
            <button class="subtitle2-button">Log In</button>
            <span class="subtitle">|</span>
            <button class="subtitle1-button">Sign Up</button>
        </span>
    </span>
    
    <section id="login">
        <h3>Already a Host?  Click Login to Start a Party</h3>
        <%=form_tag "/sessions" do %>
        <%= label_tag :email %>
        <%= email_field_tag :email, session[:email] %> </br>
        <%= label_tag :password %>
        <%= password_field_tag :password %> </br>
        <%= submit_tag "Log in!" %>
        <%end%>
        <% unless session[:message].nil? %>
        <section id="errors">
            <em><%= session[:message] %></em>
        </section>
        <% end %>

    </section>

    <section id="sign_up">
        <h3>First Time Hosting?  Click Sign Up and Prepare to Party</h3>    
        <%= render partial: "hosts/sign_up", locals: {host: @host} %>
    </section>

    <span id="container">
        <br />
        <br />
        <br />
        <br />
        <br />

        <% @files.each do |file| %>
            <div class="draggable rotate">
                <%= image_tag "albums/"+file %>
            </div>
        <% end %>
    </span>
</div>
